#
# Umbraco Deploy .gitignore
#

# Common files
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.orig
*.suo
*.vs10x
*.ndproj
*.ignorer.*

# Common directories
.DS_Store
._.DS_Store
.vs/
.idea/

# Build directories
[Bb]in/
[Oo]bj/
[Db]ebug/
[Rr]elease/

# Tools
_ReSharper*/
_NCrunch_*/
*.ncrunchsolution
*.ncrunchsolution.user
*.ncrunchproject
*.crunchsolution.cache
tools/NDepend/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
[Ss]ource
[Ss]andbox
node_modules
lib-bower
*.psess
*.vspx
NDependOut/
QueryResult.htm
tools/docfx/

# Build
/build.out/
